/* ==|== primary styles =====================================================
Author: Christian Sterzl
========================================================================== */
html {
  overflow: hidden;
  background-color: #000; }

.bgimage {
  background-attachment: fixed;
  background-clip: border-box;
  background-color: white;
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

nav {
  font-family: 'Rock Salt', sans-serif;
  font-size: 130%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  min-width: 768px;
  background: linear-gradient(-45deg, rgba(170, 202, 238, 0.7) 0%, rgba(170, 202, 238, 0.7) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(170, 202, 238, 0.7) 0%, rgba(170, 202, 238, 0.7) 100%);
  background: -moz-linear-gradient(-45deg, rgba(170, 202, 238, 0.7) 0%, rgba(170, 202, 238, 0.7) 100%); }
  nav ul {
    float: right; }
    nav ul li {
      display: block;
      float: left;
      margin-right: 1.5em;
      margin-top: 1ex;
      margin-bottom: 1ex; }
      nav ul li > a, nav ul li > a:visited {
        color: white;
        text-decoration: none; }
      nav ul li > a:hover, nav ul li:target > a {
        color: black; }

#search {
  width: 100px;
  -moz-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width; }
  #search.searchactive {
    width: 270px; }
    #search.searchactive form {
      padding-left: 0.5em; }
  #search a {
    display: table-cell; }
  #search form {
    padding-left: 1000px;
    opacity: 0.75;
    display: table-cell;
    -moz-transition-property: padding-left;
    -webkit-transition-property: padding-left;
    transition-property: padding-left;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    #search form input[type=submit] {
      display: none; }
    #search form input[type=search] {
      font-size: 75%;
      padding-left: 0.2em;
      border: none;
      background-color: #DEDEDE; }

#contentwrapper {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

#content {
  position: static;
  padding-top: 5em;
  height: 75%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  width: calc(4 * 100% - 3 * 150px);
  width: -webkit-calc(4 * 100% - 3 * 150px);
  width: -moz-calc(4 * 100% - 3 * 150px);
  -moz-transition-property: margin-left;
  -webkit-transition-property: margin-left;
  transition-property: margin-left; }
  #content.activecontent_0 {
    margin-left: calc(0 * 100% + 0px + 0.5em);
    margin-left: -webkit-calc(0 * 100% + 0px + 0.5em);
    margin-left: -moz-calc(0 * 100% + 0px + 0.5em); }
  #content.activecontent_1 {
    margin-left: calc(-1 * 100% + 150px + 0.5em);
    margin-left: -webkit-calc(-1 * 100% + 150px + 0.5em);
    margin-left: -moz-calc(-1 * 100% + 150px + 0.5em); }
  #content.activecontent_2 {
    margin-left: calc(-2 * 100% + 300px + 0.5em);
    margin-left: -webkit-calc(-2 * 100% + 300px + 0.5em);
    margin-left: -moz-calc(-2 * 100% + 300px + 0.5em); }
  #content.activecontent_3 {
    margin-left: calc(-3 * 100% + 450px + 0.5em);
    margin-left: -webkit-calc(-3 * 100% + 450px + 0.5em);
    margin-left: -moz-calc(-3 * 100% + 450px + 0.5em); }
  #content div {
    background-color: white;
    margin: 0 25px;
    padding: 50px;
    opacity: 0.9;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
    #content div:first-child {
      margin-left: 100px; }
    #content div:last-child {
      margin-right: 100px; }

.animated {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* ==|== media queries ======================================================
PLACEHOLDER Media Queries for Responsive Design.
These override the primary ('mobile first') styles
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }
