/* ==|== primary styles =====================================================
Author: Christian Sterzl
========================================================================== */
.grid {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  width: 440px;
  height: 440px;
  border: 5px solid black; }
  .grid > div {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    background-color: black;
    min-height: 50px; }
    .grid > div.active {
      min-height: 100px; }
      .grid > div.active > div.active {
        background-color: yellow; }
    .grid > div > div {
      background-color: blue;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;
      min-width: 50px;
      margin: 5px; }
      .grid > div > div.active {
        min-width: 100px; }
  .grid div {
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all; }
