/* ==|== primary styles =====================================================
Author: Christian Sterzl
========================================================================== */
@import "../../scss/mixins";

$rows: 8;
$columns: 24;
$boxSize: 60;
$borderSize: 2;
$borderColor: black;
$multiplicator: 4;
$transitionDuration: 0.5s;
$inactiveColor: blue;
$activeColor: yellow;
$scrollbarSize: 7;

.grid_wrapper {
  width: 60%;
  overflow: auto;
} 

.grid {
  display: block;
  //@include box-display;
  //@include box-orient(vertical);
  background-color: #{$borderColor};
  width: #{($boxSize + 2 * $borderSize) * $columns}px;
  height: #{($boxSize + 2 * $borderSize) * $rows}px;
  border: #{$borderSize}px solid #{$borderColor};
  overflow: hidden;

  & > div { //rows
    //@include box-display;
    background-color: #{$borderColor};
    height: #{$boxSize}px;
    width: #{($boxSize + 2 * $borderSize) * $columns}px;
    overflow: hidden;
    //max-height: #{$boxSize * 1 / $multiplicator}px;

    &.active { //active row
      height: #{$boxSize * $multiplicator}px;
      //max-height: #{$boxSize * $multiplicator}px;

      & > div.active { //active cell in active row
        background-color: #{$activeColor};
      }
    }

    & > div { //every cell
      background-color: #{$inactiveColor};
      height: 100%;
      width: #{$boxSize}px;
      margin: #{$borderSize}px;
      float: left;

      &.inactive {
        width: #{((($boxSize + 2 * $borderSize) * $columns) - ($boxSize * $multiplicator))/($columns - 1)}px;
      }

      &.active { //active cell in every row, aka column
        width: #{$boxSize * $multiplicator}px;
        //max-width: #{$boxSize * $multiplicator}px;
      }
    }
  }

  & div { //every div - rows and cells
      //@include box-flex(1);
  }
}
